{% extends 'layouts/master.html' %}
{% load static %}

{% block title %}
Admin | Details
{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block content %}

<div class="card mb-3 col-lg col-xxl-10 col-md-12">
    <div class="card-header position-relative min-vh-25 mb-7">
        <div class="bg-holder rounded-3 rounded-bottom-0"
            style="background-image:url({% static 'assets/img/generic/4.jpg' %});">
        </div><!--/.bg-holder-->
        <div class="avatar avatar-5xl avatar-profile">
            {% if admin.image %}
            <a href="{{admin.image.url}}" data-gallery="gallery-2">
                <img class="rounded-circle img-thumbnail shadow-sm" src="{{admin.image.url}}" width="200" alt="" />
            </a>
            {% else %}
            <a href="{% static 'assets/img/default.jpg' %}" data-gallery="gallery-2">
                <img class="rounded-circle img-thumbnail shadow-sm" src="{% static 'assets/img/default.jpg' %}"
                    width="200" alt="" />
            </a>
            {% endif %}
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-10">
                <h4 class="mb-1">
                    {% if admin.is_superuser %}
                    <span class="badge badge-soft-primary" style="min-width: 150px; text-align: start;">
                        {{admin.name}}
                    </span>
                    {% else %}
                    <span class="badge badge-soft-secondary" style="min-width: 150px; text-align: start;">
                        {{admin.name}}
                    </span>
                    {% endif %}

                    {% if admin.is_verified == True %}
                    <span data-bs-toggle="tooltip" data-bs-placement="right" title="Verified">
                        <small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small>
                    </span>
                    {% endif %}
                </h4>
                <span class="badge bg-light text-dark fs--1">{{ admin.email }}</span><br>
                <span class="badge bg-light text-dark fs--1">{{ admin.phone }}</span>

                <!-- <h5 class="fs-0 fw-normal">{{ user.phone }}</h5>
                <p class="text-500">{{user.nationality}}</p> -->
            </div>

            <!-- <div class="col-2">
                <div style="text-align:end;">
                    <div class="d-flex" style="flex-direction: column;">
                        {% if request.user.is_superuser %}
                        <a class="btn btn-konnect-primary btn-sm px-3" type="button"
                            href="">
                            <i class="fa-regular fa-pen-to-square"></i>
                            Edit
                        </a>
                        {% endif %}
                        <a class="btn btn-konnect-default btn-sm px-3 mt-3" type="button"
                            href="">
                            <i class="fa-solid fa-list me-2"></i>
                            Admin List
                        </a>
                    </div>
                </div>
            </div> -->


            <div class="border-dashed-bottom my-4 d-lg-none"></div>
        </div>

    </div>
</div>



<div class="row g-0 col-lg col-xxl-10 col-md-12">
    <div class="card mb-3">
        <div class="card-header bg-light">
            <h5 class="mb-0">Employee Information</h5>
        </div>

        <div class="card-body bg-light border-top mb-3">
            <div class="row">
                <div class="col-lg col-xxl-10">
                    <table class="table table-bordered table-striped">
                        <h6 class="fw-semi-bold ls mb-3 text-uppercase">Basic Information</h6>
                        <thead style="background: rgb(141, 134, 134); color: white;">
                            <tr>
                                <th class="col-4">Attribute</th>
                                <th class="col-8">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="fw-semi-bold">First Name</td>
                                <td>{{ admin.first_name }}</td>
                            </tr>


                            <tr>
                                <td class="fw-semi-bold">Last Name</td>
                                <td>{{ admin.last_name }}</td>
                            </tr>

                            <tr>
                                <td class="fw-semi-bold">Phone Number</td>
                                <td>{{ admin.phone }}</td>
                            </tr>

                            <tr>
                                <td class="fw-semi-bold">Email</td>
                                <td>{{ admin.email }}</td>
                            </tr>

                            <tr>
                                <td class="fw-semi-bold">Gender</td>
                                <td>{{ admin.gender|capfirst }}</td>
                            </tr>

                            <tr>
                                <td class="fw-semi-bold">Date of birth</td>
                                <td>{{ admin.dob|date:"d/ M/ Y" }}</td>
                            </tr>

                            <tr>
                                <td class="fw-semi-bold">Age</td>
                                <td>{{ admin.age}}</td>
                            </tr>

                            <tr>
                                <td class="fw-semi-bold">Profile Image</td>
                                <td>
                                    <div class="position-relative h-sm-100">
                                        {% if admin.image %}
                                        <a href="{{admin.image.url}}" data-gallery="gallery-2">
                                            <img class="img-fluid fit-cover w-md-25 w-sm-50 rounded-1 absolute-sm-centered"
                                                src="{{admin.image.url}}" alt="" />
                                        </a>
                                        {% else %}
                                        <span class="badge badge-soft-danger fs--1">Not Uploded!</span>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>

                            <!-- <tr>
                                <td class="fw-semi-bold">Address</td>
                                <td>{{ admin.address}}</td>
                            </tr> -->

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card-body bg-light border-top mb-3 mt-3">
            <div class="row">
                <div class="col-lg col-xxl-10">
                    <table class="table table-bordered table-striped">
                        <h6 class="fw-semi-bold ls mb-3 text-uppercase">Others Information</h6>
                        <thead style="background: rgb(141, 134, 134); color: white;">
                            <tr>
                                <th class="col-4">Attribute</th>
                                <th class="col-8">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="badge badge-soft-warning fs-1">{{admin.user_type|capfirst}}</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="fw-semi-bold">Active Status</td>
                                <td>
                                    {% if admin.is_active %}
                                    <i class="fa-solid fa-check text-success fs-3"></i>
                                    {% else %}
                                    <i class="fa-solid fa-xmark text-danger fs-3"></i>
                                    {% endif %}
                                </td>
                            </tr>

                            <!-- <tr>
                                <td class="fw-semi-bold">Email Verification Status</td>
                                <td>
                                    {% if admin.is_email_verified %}
                                    <i class="fa-solid fa-check text-success fs-3"></i>
                                    {% else %}
                                    <i class="fa-solid fa-xmark text-danger fs-3"></i>
                                    {% endif %}
                                </td>
                            </tr> -->

                            <tr>
                                <td class="fw-semi-bold">Super Admin</td>
                                <td>
                                    {% if admin.is_superuser %}
                                    <i class="fa-solid fa-check text-success fs-3"></i>
                                    {% else %}
                                    <i class="fa-solid fa-xmark text-danger fs-3"></i>
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <td class="fw-semi-bold">Enroll Date</td>
                                <td>
                                    {{ admin.created_at|date:"D, d/M/Y" }}, {{ admin.created_at|date:"g:i A" }}
                                </td>
                            </tr>

                            <tr>
                                <td class="fw-semi-bold">Updated At</td>
                                <td>
                                    {{ admin.updated_at|date:"D, d/M/Y" }}, {{ admin.updated_at|date:"g:i A" }}
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}