{% load shared %}
{% load static %}

<nav class="navbar navbar-light navbar-vertical navbar-expand-xl">
{#    <script>#}
{#        var navbarStyle = localStorage.getItem("navbarStyle");#}
{#        if (navbarStyle && navbarStyle !== 'transparent') {#}
{#            document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);#}
{#        }#}
{#    </script>#}

    <div class="d-flex align-items-center">
        <div class="toggle-icon-wrapper">
            <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip"
                    data-bs-placement="left" title="Toggle Navigation">
                <span class="navbar-toggle-icon">
                    <span class="toggle-line"></span>
                </span>
            </button>
        </div>
        <a class="navbar-brand" href="{% url 'dashboard' %}">
            <div class="d-flex align-items-center py-3">
                <img class="me-2" src="{% static 'assets/img/logo.png' %}" alt="" width="140"/>
                {#                <span class="font-sans-serif">Konnect</span>#}
            </div>
        </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <div class="navbar-vertical-content scrollbar">
            <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
                <li class="nav-item">
                    <!-- parent pages-->
                    <a class="nav-link {% active_menu request 'dashboard' %}" href="{% url 'dashboard' %}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                                <span class="fas fa-chart-pie"></span>
                            </span>
                            <span class="nav-link-text ps-1">Dashboard</span>
                        </div>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link dropdown-indicator" href="#categories" role="button" data-bs-toggle="collapse"
                       aria-expanded="false" aria-controls="categories">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                                <span class="fas fa-shapes"></span>
                            </span>
                            <span class="nav-link-text ps-1">Categories</span>
                        </div>
                    </a>
                    <ul class="nav collapse false" id="categories">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'groups:group_category_list' %}" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Group Categories</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'events:event_category_list' %}" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Event Categories</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tasks:task_category_list' %}" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Task Categories</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blogs:blog_category_list' %}" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Blog Categories</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contents:content_category_list' %}" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Content Categories</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link dropdown-indicator" href="#groups" role="button" data-bs-toggle="collapse"
                       aria-expanded="false" aria-controls="groups">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                                <span class="fas fa-user-friends"></span>
                            </span>
                            <span class="nav-link-text ps-1">Groups</span>
                        </div>
                    </a>
                    <ul class="nav collapse false" id="groups">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'groups:group_list' %}" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Groups</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'groups:group_member_list' %}" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Group Members</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'groups:group_post_list' %}" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Group Posts</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'groups:group_comment_list' %}" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Group Comments</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link dropdown-indicator" href="#events" role="button" data-bs-toggle="collapse"
                       aria-expanded="false" aria-controls="events">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                                <span class="fas fa-wallet"></span>
                            </span>
                            <span class="nav-link-text ps-1">Events</span>
                        </div>
                    </a>
                    <ul class="nav collapse false" id="events">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'events:event_list' %}" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Events</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'events:event_comment_list' %}" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Event Comments</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'events:event_participant_list' %}" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Event Participants</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link dropdown-indicator" href="#tasks" role="button" data-bs-toggle="collapse"
                       aria-expanded="false" aria-controls="tasks">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                                <span class="fas fa-tasks"></span>
                            </span>
                            <span class="nav-link-text ps-1">Tasks</span>
                        </div>
                    </a>
                    <ul class="nav collapse false" id="tasks">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tasks:task_list' %}" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Tasks</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link dropdown-indicator" href="#blogs" role="button" data-bs-toggle="collapse"
                       aria-expanded="false" aria-controls="blogs">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                                <span class="fas fa-blog"></span>
                            </span>
                            <span class="nav-link-text ps-1">Blogs</span>
                        </div>
                    </a>
                    <ul class="nav collapse false" id="blogs">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blogs:blog_list' %}" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Blogs</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link dropdown-indicator" href="#contents" role="button" data-bs-toggle="collapse"
                       aria-expanded="false" aria-controls="contents">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                                <span class="fas fa-file-contract"></span>
                            </span>
                            <span class="nav-link-text ps-1">Contents</span>
                        </div>
                    </a>
                    <ul class="nav collapse false" id="contents">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contents:content_list' %}" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Contents</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item">
                    <!-- section title -->
                    <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                        <div class="col-auto navbar-vertical-label">Setup</div>
                        <div class="col ps-0">
                            <hr class="mb-0 navbar-vertical-divider">
                        </div>
                    </div>


                    <!-- dropdown indicator of account setup-->
                    <a class="nav-link dropdown-indicator" href="#user-setup" role="button" data-bs-toggle="collapse"
                       aria-expanded="false" aria-controls="account-setup">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                                <span class="fas fa-user-friends"></span>
                            </span>
                            <span class="nav-link-text ps-1">Role & User</span>
                        </div>
                    </a>

                    <ul class="nav collapse false" id="user-setup">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:user_list' %}" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Users</span>
                                </div>
                            </a>
                        </li>
                    </ul>

                </li>
            </ul>
        </div>
    </div>
</nav>
