{% extends 'layouts/master.html' %}

{% load static %}

{% block title %}
    Admin | List
{% endblock title %}



{% block styles %}

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<!-- For TIme Modiul -->
<link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet" />
{% endblock styles %}




{% block content %}
<div class="card mb-3">

    <!-- Header Content -->
    <div class="card-header bg-light">
        <div class="row flex-between-center">

            <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">
                    <span class="fas fa-user-friends fs-1 me-2"></span>Admin List
                </h5>
            </div>

            <div class="col-8 col-sm-auto ms-auto text-end ps-0">
                <div class="d-flex flex-row" id="orders-actions">
                    <a href="{% url 'admins:admin_create' %}" class="btn btn-konnect-default btn-sm" type="button">
                        <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                        <span class="d-none d-sm-inline-block ms-1">New</span>
                    </a>
                    <!-- <button class="btn btn-konnect-default btn-sm mx-2" type="button" 
                        data-bs-toggle="modal" data-bs-target="#filter-modal">
                        <span class="fas fa-filter"></span>
                        <span class="d-none d-sm-inline-block ms-1">Filter</span>
                    </button>

                    <button class="btn btn-konnect-default btn-sm" type="button"
                        data-bs-toggle="modal" data-bs-target="#export-all-data">
                        <span class="fas fa-external-link-alt"></span>
                        <span class="d-none d-sm-inline-block ms-1">Export All</span>
                    </button> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Body Content -->
    <div class="card-body p-4">
        <div class="table-responsive">

            <div class="d-flex justify-content-between mb-3">

                <!-- Bulk Data Delete -->

                <!-- Delete Bulk User Old Js(Js Confirm) -->
                <!-- <div class="col-md-6">
                    <form method="post" onsubmit="return handleDeleteButtonClick();">
                        {% csrf_token %}
                        <div class="d-none ms-3" id="bulk-select-actions">
                            <input type="hidden" name="delete_id_list" id="delete_id_list" value="">
                            {% if request.user.is_superuser %}
                                <button class="btn btn-outline-danger me-1 mb-1" type="submit" name="delete_list">
                                    <span class="fas fa-trash me-2 btn-icon"></span>
                                    Delete
                                    <span id="selected-count">(0) Selected</span>
                                </button>
                            {% else %}
                                <button class="btn btn-outline-danger me-1 mb-1" type="button">
                                    <i class="fa-solid fa-xmark me-2"></i>
                                    You are not able to delete it!
                                    <span id="selected-count">(0) Selected</span>
                                </button>
                            {% endif %}
                        </div>
                    </form>
                </div> -->

                <!-- Delete Bulk User New Js(Sweet Alart) -->
                <div class="col-md-6">
                    <form method="post" id="delete_form">
                        {% csrf_token %}
                        <div class="d-none ms-3" id="bulk-select-actions">
                            <input type="hidden" name="delete_id_list" id="delete_id_list" value="">
                            {% if request.user.is_superuser %}
                            <input type="hidden" name="delete_list">
                                <button class="btn btn-outline-danger me-1 mb-1" type="button" onclick="handleDeleteButtonClick()">
                                    <span class="fas fa-trash me-2 btn-icon"></span>
                                    Delete
                                    <span id="selected-count">(0) Selected</span>
                                </button>
                            {% else %}
                                <button class="btn btn-outline-danger me-1 mb-1" type="button">
                                    <i class="fa-solid fa-xmark me-2"></i>
                                    You are not able to delete it!
                                    <span id="selected-count">(0) Selected</span>
                                </button>
                            {% endif %}
                        </div>
                    </form>
                </div>

                <!-- Search -->
                <div class="col-md-3">
                    <form class="d-flex justify-content-between mb-3">
                        <div class="input-group">
                            <input class="form-control" type="search" name="search" placeholder="Search..."
                                aria-label="Search" value="{{ request.GET.search }}">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>

            </div>

            <table width="100%" class="table table-bordered table-striped fs--1 mb-0">
                <thead class="bg-200 text-900">
                    <tr>
                        <th class="">
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox"
                                    data-bulk-select='{"body":"bulk-select-body","actions":"bulk-select-actions"}'
                                    onchange="handleBulkSelectChange(this)">
                                S/N
                            </div>
                        </th>

                        <th>Avatar</th>
                        <th>Name/Gender</th>
                        <th>Email/Phone</th>
                        <th>Date of Birth</th>
                        <th class="text-center">Super Admin</th>
                        <th class="text-center">Joining/Enroll</th>
                        <th class="text-center">Active</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody id="bulk-select-body">
                    {% for admin in page_obj %}
                    <tr>
                        <td>
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" id="checkbox-{{admin.id}}"
                                    data-bulk-select-row="data-bulk-select-row"
                                    onchange="handleCheckboxChange(this)"
                                    value="{{ admin.id }}">
                                {{ page_obj.start_index|add:forloop.counter0 }}
                            </div>
                        </td> 

                        <td>
                            {% if admin.image %}
                            <div class="avatar avatar-3xl">
                                <a href="{{ admin.image.url }}" data-gallery="gallery-2">
                                    <img class="img-fluid rounded" src="{{ admin.image.url }}" alt="" width="300" />
                                </a>
                            </div>
                            {% else %}
                            <div class="avatar avatar-3xl">
                                <a href="{% static 'assets/img/default.jpg' %}" data-gallery="gallery-2">
                                    <img class="img-fluid rounded" src="{% static 'assets/img/default.jpg' %}" alt=""
                                        width="300" />
                                </a>
                            </div>
                            {% endif %}
                        </td>

                        <td>
                            {% if admin.is_superuser %}
                                <span class="badge bg-danger fs--1">{{ admin.name|capfirst }}</span><br>
                            {% else %}
                                <span class="badge badge-soft-dark fs--1">{{ admin.name|capfirst }}</span><br>
                            {% endif %}
                            <span class="badge badge-soft-light fs--1">{{ admin.gender|capfirst }}</span>
                        </td>

                        <td>
                            <span class="badge bg-light text-dark fs--2">{{ admin.email }}</span><br>
                            <span class="badge bg-light text-dark fs--2">{{ admin.phone }}</span>
                        </td>

                        <td>
                            <span class="badge bg-light text-dark fs--1">{{ admin.dob|date:"D, d/M/Y" }}</span><br>
                            {% if admin.age %}
                                <span class="badge bg-light text-dark fs--1">Age: {{admin.age}}</span>
                            {% endif %}
                        </td>

                        <td class="text-center">
                            {% if admin.is_superuser %}
                            <i class="fa-solid fa-check text-success fs-3"></i>
                            {% else %}
                            <i class="fa-solid fa-xmark text-danger fs-3"></i>
                            {% endif %}
                        </td>

                        <td class="text-center">
                            <span class="badge badge-soft-info fs--1">
                                {{ admin.joining|date:"D, d/M/Y" }}
                            </span><br>
                            <span class="badge badge-soft-light fs--2">
                                {{ admin.created_at|date:"D, d/M/Y" }}
                            </span><br>
                            <span class="badge badge-soft-light fs--2">
                                {{ admin.created_at|date:"g:i A" }}
                            </span>
                        </td>

                        <td class="text-center">
                            {% if admin.is_active %}
                            <i class="fa-solid fa-check text-success fs-3"></i>
                            {% else %}
                            <i class="fa-solid fa-xmark text-danger fs-3"></i>
                            {% endif %}
                        </td>

                        <td>
                            <ul class="action text-center p-0 d-flex" style="flex-direction: column;">
                                <li>
                                    <a class="text-primary" href="{% url 'admins:admin_details' admin.id %}">
                                        <span class="fas fa-eye text-primary"></span>
                                    </a>
                                </li>

                                {% if request.user.is_superuser %}
                                    <li>
                                        <a class="text-primary" href="{% url 'admins:admin_update' admin.id %}">
                                            <span class="fas fa-edit text-warning"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="text-danger cursor-pointer" data-bs-toggle="modal"
                                            data-bs-target="#delete-{{admin.id}}">
                                            <span class="fas fa-trash text-danger"></span>
                                        </a>
                                    </li>
                                {% endif %}
                                <div class="text-start">
                                    <!-- Delete Modal -->
                                    {% include 'admin/delete.html' %}
                                </div>
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Pagination snd Counting -->
    {% include 'common/pagination.html' %}

</div>



<!-- Import Modal -->
{% include 'common/export_data.html' %}


{% endblock content %}




{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    function updateSelectedCount() {
        const selectedCountSpan = document.getElementById('selected-count');
        const checkboxes = document.querySelectorAll('[data-bulk-select-row]');
        let selectedCount = 0;
        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                selectedCount++;
            }
        });
        selectedCountSpan.textContent = `(${selectedCount}) Selected`;
    }

    function handleCheckboxChange(checkbox) {
        const deleteIdList = document.getElementById('delete_id_list');
        const bookingId = checkbox.value;

        if (checkbox.checked) {
            // Add the booking ID to the list if it's checked
            if (!deleteIdList.value.includes(bookingId)) {
                deleteIdList.value += (deleteIdList.value ? ',' : '') + bookingId;
            }
        } else {
            // Remove the booking ID from the list if it's unchecked
            deleteIdList.value = deleteIdList.value.split(',').filter(id => id !== bookingId).join(',');
        }

        updateSelectedCount(); // Update selected count after checkbox change
    }

    function handleBulkSelectChange(checkbox) {
        const checkboxes = document.querySelectorAll('[data-bulk-select-row]');
        checkboxes.forEach(checkbox => {
            checkbox.checked = checkbox.checked !== undefined ? checkbox.checked : false;
            handleCheckboxChange(checkbox);
        });
    }
</script>



<!-- Delete Bulk User Old Js(Js Confirm) -->
<!-- <script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete the selected item?");
    }

    function handleDeleteButtonClick() {
        if (confirmDelete()) {
            // Proceed with form submission if user confirms
            document.querySelector('form').submit();
        } else {
            // Cancel the deletion action if user cancels
            return false;
        }
    }
</script> -->


<!-- Delete Bulk User New Js(Sweet Alart) -->
<script>
    function handleDeleteButtonClick() {
        Swal.fire({
            title: "Are you sure!",
            text: "Do you want to delete the selected item?",
            showCancelButton: true,
            confirmButtonColor: "#203F99",
            cancelButtonColor: "#d33",
            cancelButtonText:"No",
            confirmButtonText: "Yes"
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('delete_form').submit();
            }
        });
    }
</script>

{% endblock js %}