{% if widget.is_initial %}

    {#    {{ widget.initial_text }}: <a href="{{ widget.value.url }}">{{ widget.value }}</a>#}
    
    <div class="d-inline me-1">
        <img src="{{ widget.value.url }}" alt="{{ widget.value }}" height="50px">
        {% if not widget.required %}
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="{{ widget.checkbox_name }}"
                       id="{{ widget.checkbox_id }}"
                        {% if widget.attrs.disabled %} disabled{% endif %}>
                <label for="{{ widget.checkbox_id }}" class="form-check-label">Delete This</label>
            </div>
        {% endif %}
    </div>
{% endif %}


<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
<div class="img-preview"></div>