{% extends 'layouts/master.html' %}


{% block title %}
AddressPMS | Password Change
{% endblock title %}


{% block styles %}
<style>
    .input_height {
        height: 40px !important;
    }

    .input_height.success input {
        border-color: #09c372;
    }

    .input_height.error input {
        border-color: #ff3860;
    }

    .input_height .error {
        color: #ff3860;
        font-size: 9px;
        height: 13px;
    }
</style>
{% endblock styles %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-lg-7">
        <form class="card mb-3" method="post">
            <div class="card-header">
                <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                        <h5 class="mb-0" data-anchor="data-anchor">
                            <span class="fas fa-key me-2 fs-1"></span>
                            Change Password
                        </h5>
                    </div>
                </div>
            </div>


            <div class="card-body bg-light">
                {% csrf_token %}
                <!-- <div class="form-group row">
                    <div class="col-md-8 offset-md-4 card-footer">
                        {% include 'common/message.html' %}
                    </div>
                </div> -->

                <div class="form-group row mb-3">
                    <label class="col-md-4 col-form-label" for="old_password">Old Password</label>
                    <div class="col-md-8 position-relative">
                        <input class="form-control input_height" type="password" name="old_password" id="old_password"
                            value="{{ request.POST.old_password }}" required>

                        <i id="oldPassword" class="far fa-eye-slash field-icon position-absolute cursor-pointer" 
                            style="right: 25px; top: 50%; transform: translateY(-50%);">
                        </i>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-md-4 col-form-label" for="password1">New Password</label>
                    <div class="col-md-8 position-relative">
                        <input class="form-control input_height" type="password" name="password" id="password1"
                            value="{{ request.POST.password }}" required minlength="8">

                        <i id="newPassword" class="far fa-eye-slash field-icon position-absolute cursor-pointer" 
                            style="right: 25px; top: 50%; transform: translateY(-50%);">
                        </i>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-4 col-form-label" for="password2">Re-type New Password</label>
                    <div class="col-md-8 position-relative">
                        <input class="form-control input_height" type="password" name="password2" id="password2"
                            value="{{ request.POST.password2 }}" required minlength="8">

                        <i id="retryPassword" class="far fa-eye-slash field-icon position-absolute cursor-pointer" 
                            style="right: 25px; top: 30%; transform: translateY(-50%);">
                        </i>
                    </div>
                </div>

            </div>


            <div class="form-group row">
                <div class="col-md-8 offset-md-4 card-footer">
                    <button type="submit" class="btn btn-primary ms-2 me-3">
                        <i class="fa fa-save me-2"></i>
                        Submit
                    </button>

                    <a href="{% url 'dashboards:home' %}" class="btn btn-secondary">
                        <i class="fa fa-times me-2"></i>
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}


{% block js %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).on('click', '#oldPassword', function() {
        var passwordInput = $('#old_password');
        var type = passwordInput.attr('type') === 'password' ? 'text' : 'password';
        passwordInput.attr('type', type);

        // Change the eye icon
        if (type === 'password') {
            $(this).removeClass('fa-eye').addClass('fa-eye-slash');
        } else {
            $(this).removeClass('fa-eye-slash').addClass('fa-eye');
        }
    });
</script>


<script>
    $(document).on('click', '#newPassword', function() {
        var passwordInput = $('#password1');
        var type = passwordInput.attr('type') === 'password' ? 'text' : 'password';
        passwordInput.attr('type', type);

        // Change the eye icon
        if (type === 'password') {
            $(this).removeClass('fa-eye').addClass('fa-eye-slash');
        } else {
            $(this).removeClass('fa-eye-slash').addClass('fa-eye');
        }
    });
</script>

<script>
    $(document).on('click', '#retryPassword', function() {
        var passwordInput = $('#password2');
        var type = passwordInput.attr('type') === 'password' ? 'text' : 'password';
        passwordInput.attr('type', type);

        // Change the eye icon
        if (type === 'password') {
            $(this).removeClass('fa-eye').addClass('fa-eye-slash');
        } else {
            $(this).removeClass('fa-eye-slash').addClass('fa-eye');
        }
    });
</script>

{% endblock js %}